<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Doctor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-padding>
    <ion-item no-padding lines="none" color="secondary" >
      <ion-grid no-padding>
        <ion-row>
          <ion-col size="2" class="ion-text-center">
            S.No
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            Doctor Name
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            Area
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngFor=" let doctor of doctorList ; let i=index " no-padding (click)="viewDoctor(doctor)" >
      <ion-grid no-padding>
        <ion-row>
          <ion-col size="2" class="ion-text-center">
            {{i+1}}
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            {{doctor.name}}
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            {{doctor.area}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addDoctor()" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>