<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Doctor Visit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let area of tempAreaList" style="width: 100%" (click)="navigate(area)">
      {{area}}
    </ion-item>
  </ion-list>
</ion-content>